/******************************************************************

Variables

******************************************************************/

$black: #000000;
$white: #ffffff;
$pale-white: #e8eaef;
$mid-gray: #626367;
$dark-gray: #2c333f;
$wus_background: #F5FBFB;
$Open-Sans:'Open Sans',
sans-serif;