<div class="faq-jumbotron text-center">
    <div class="container-fluid">

        <div class="text-left">
            <a class="hidden-sm-down" ui-sref="home">
                <svg aria-hidden="true" width="20px" height="10px" viewBox="0 0 50 80" xml:space="preserve">
                    <polyline fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="
                    48.63,85.8 0.375,38.087 48.63,0.375 "/>
              </svg>
                <span> Back</span></a>
        </div>
        <h1>Help & Contact</h1>
        <h4>Here are some most common Questions we get</h4>

    </div>
</div>
<div class="faq-section text-center">

    <h2>FAQ</h2>
    <div class="row justify-content-center">
        <div class="col-11 col-md-12 faq-list">
            <uib-accordion close-others="faq.oneAtATime" template-url="app/externalModules/ui-bootstrap/template/accordion.html">

                <div uib-accordion-group class="" is-open="faq.open " template-url="app/externalModules/ui-bootstrap/template/accordion-group-template.html ">
                    <uib-accordion-heading>
                        I can have markup, too! <i class="pull-right glyphicon " ng-class="{ 'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open} "></i>
                    </uib-accordion-heading>
                    This is just some content to illustrate fancy headings.
                </div>
                <div uib-accordion-group class="" is-open="faq.open " template-url="app/externalModules/ui-bootstrap/template/accordion-group-template.html ">
                    <uib-accordion-heading>
                        I can have markup, too! <i class="pull-right glyphicon " ng-class="{ 'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open} "></i>
                    </uib-accordion-heading>
                    This is just some content to illustrate fancy headings.
                </div>
                <div uib-accordion-group class="" is-open="faq.open " template-url="app/externalModules/ui-bootstrap/template/accordion-group-template.html ">
                    <uib-accordion-heading>
                        I can have markup, too! <i class="pull-right glyphicon " ng-class="{ 'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open} "></i>
                    </uib-accordion-heading>
                    This is just some content to illustrate fancy headings.
                </div>
            </uib-accordion>

        </div>


    </div>
</div>
</div>